---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PixelsPalette</title>
	</head>
	<body>
        <h1>PixelsPalette </h1>

        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>


		<h1>About</h1>
        <p>PixelsPalette dives into the aspects of ones life. We all deal with various situations every single day, but we are less aware that these situations are already dealt by someone whose solutions exist. They are either never spoken about or pened down by authors or poets as their art.
            We shall not be surprised if this happens to us. Hence PixelsPalette.
        </p>
	</body>
</html>
