---
import Layout from '../layouts/layout.astro';
const desc="Home";
---
<Layout desc = {desc}>
  <h2>My awesome blog subtitle</h2>
  <p>My awesome blog subtitle</p>
  <p>My awesome blog subtitle</p>
  <p>My awesome  </p>
</Layout>