---
import Layout from '../layouts/layout.astro';
const desc="Home";
---
<Layout desc = {desc}>
  <h2>My awesome blog subtitle</h2>
  <p>My awesome blog description</p>  
  <p>My awesome blog description</p>
  
  <p>My awesome blog description</p>
  <p>My awesome blog description</p>
  <p>My awesome blog description</p>
</Layout>