---
import Social from './Social.astro';
---

<footer>
  <p>Learn more about me on 
    <Social platform="github" username="aromaperis" />
    <Social platform="LinkedIn" username="in/aroma-peris" /></p>
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>